.common-button {
  padding: 15px 20px;
  /* border-radius: 4px; */
  background-color: var(--primary-blue);
  border: none;
  cursor: pointer;
  color: var(--primary-white);
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  font-size: 14px;
}

.common-button button:hover {
  background-color: var(--blue-hover);
}

@media (max-width: 767px) {
  .common-button button {
    padding: 9px 12px;
  }
}

@media (max-width: 500px) {
  .common-button button {
    padding: 6px 10px !important;
  }
}