.employee-contract-list-container {
  padding: 20px;
  /* max-width: 800px; */
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.employeecontract-flex {
  display: flex;
  justify-content: space-between;
}

.employeecontract-title {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.Employeecontract-input input,
.Employeecontract-input select {
  margin-top: 0px !important;
}

.File-input {
  border: none !important;
  padding: 0 !important;
}

.custom-file-button-contract {
  padding: 10px 20px;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.employee-main-container h5 {
  color: var(--alert-yellow);
  font-size: 16px;
  font-weight: 400;
}

.employeecontract-upload {
  display: flex;
  gap: 10px;
}

.employeecontract-upload button {
  padding: 15px 20px;
  background-color: var(--primary-blue);
  border: none;
  cursor: pointer;
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.employeecontract-action {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cancel-edit-btn {
  color: var(--primary-blue) !important;
  border: 1px solid var(--primary-blue) !important;
  cursor: pointer !important;
  background-color: var(--primary-white) !important;
  display: flex !important;
  align-items: center !important;
}

.employeecontract-action button:hover {
  background-color: var(--blue-hover);
}

.employeecontract-action-icon {
  margin-right: 10px;
  font-size: var(--font-size-small);
}

.no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Employee-flex-file-action {
  display: flex;
  gap: 10px;
  /* width: 100%; */
  height: max-content;
  justify-content: space-between;
  /* align-items: center; */
}

.Employeecontract-input {
  width: 100%;
}

.file-input {
  background-color: var(--primary-blue);
  color: var(--primary-white);
  padding: 10px;
}

.file-input p {
  margin: 0;
}

.Employeecontract-input input {
  width: calc(100% - 24px);
}

.employee-contract-input {
  width: 100%;
}

.file-contract {
  display: flex;
  gap: 5px;
  height: max-content;
  padding: 10px 15px;
  align-items: center;
  border: 1px solid var(--neutral-light-gray);
}

.contract-custom-file-upload {
  background-color: var(--primary-blue);
  color: var(--primary-white);
  padding: 5px;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
  width: 80px;
  margin: 0;
}

.contract-custom-file-upload:hover,
.employeecontract-upload button:hover {
  background-color: var(--blue-hover);
}

.contract-fileupload-name {
  margin: 0px;
  color: var(--secondary-dark-gray);
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 1400px) {
  .employeecontract-flex {
    flex-direction: column;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .company-employee-contract-dropdown-menu {
    left: -15px;
  }

  .employeecontract-title {
    gap: 5px;
  }
}

@media (max-width: 992px) {
  .employeecontract-flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .employeecontract-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px !important;
    width: 100%;
  }

  .Employeecontract-file {
    padding: 6px;
  }

  .file-contract {
    padding: 8px 12px;
  }

  .employeecontract-upload button {
    padding: 15px 20px;
  }

  .contract-custom-file-upload {
    padding: 4px;
  }
}

@media (max-width: 767px) {
  .company-employee-contract-dropdown-menu {
    left: -45px;
    padding: 8px;
  }

  .employeecontract-upload button,
  .custom-file-button-file {
    font-size: 11px;
  }

  .employeecontract-title {
    gap: 10px !important;
  }

  .contract-fileupload-name {
    font-size: 12px;
    font-size: 12px;
    padding: 0px;
  }

  .contract-custom-file-upload {
    font-size: 12px;
    padding: 3px;
  }

  .selected-file-name {
    font-size: 12px;
  }

  .Employeecontract-file {
    padding: 12px 3px;
  }

  .file-contract {
    padding: 10px 12px;
  }
}

@media (max-width: 600px) {
  .file-contract {
    width: calc(100% - 24px);
  }

  .employee-contract-input {
    width: 100% !important;
    box-sizing: border-box;
  }

  .employee-main-container h5,
  .contract-fileupload-name {
    font-size: 12px;
  }

  .contract-custom-file-upload {
    padding: 4px;
  }

  .Employeecontract-file {
    padding: 7px 3px;
  }
}

@media (max-width: 575px) {
  .employeecontract-upload button,
  .custom-file-button-file {
    padding: 11px !important;
  }

  .employeecontract-title h2 {
    font-size: 16px;
  }

  .Employeecontract-input input,
  .employee-contract-input {
    width: 100%;
  }

  .file-contract p {
    font-size: 12px;
  }

  .file-contract {
    padding: 6px 10px;
  }

  .Employee-flex-file-action {
    flex-direction: column !important;
  }
}

@media (max-width: 360px) {
  .Employee-flex-file-action {
    flex-direction: column;
    align-items: flex-start;
  }

  .employeecontract-upload button {
    padding: 8px !important;
  }

  .employeecontract-upload button {
    padding: 8px !important;
  }
}
